<div class="modal-header">
    <h3 class="modal-title">Manage User</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Employee</label>
            <div class="col-sm-9">
                <ui-select ng-model="users.employee" ng-change="setDefaultUName(users.employee)">
                    <ui-select-match>
                        {{$select.selected.lastname + ', ' + $select.selected.firstname}}
                    </ui-select-match>
                    <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="emp in (employees | filter: $select.search) track by emp.emp_id">
                        {{emp.lastname + ', ' + emp.firstname}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Username" ng-model="users.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="{{inputType}}" class="form-control" id="inputPassword3" placeholder="Password" ng-model="users.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()">
                        <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">User Roles</label>
            <div class="col-sm-9">
                <ui-select multiple ng-model="users.role">
                    <ui-select-match placeholder="Select User Role...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="{role_id: row.role_id} as row in usergroups | propsFilter:{name:$select.search,description:'$select.search'}"  infinite-scroll="addMoreItems()" infinite-scroll-distance="2">
                        <div ng-bind-html="row.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Valid Until?</label>
            <div class="col-sm-9">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="users.valid_until" is-open="popup1.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <a class="btn btn-success btn-xs" ng-click="generatePassword()">Generate Password</a>
                <a class="btn btn-warning btn-xs">Reset User Group</a>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveUser()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancelUser()">Cancel</button>
</div>
