<div class="modal-header">
    <h3 class="modal-title">Manage User Roles</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Role Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputGroupName" placeholder="Role Name" ng-model="usergroup.name" ng-required="true" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupDesc" class="col-sm-3 control-label">Role Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputGroupDesc" placeholder="Role Description" ng-model="usergroup.description" ng-required="true" >
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveUserGroup()">Save</button>
    <button class="btn btn-default" ng-click="cancelUserGroup()">Cancel</button>
</div>
