<ul class="nav nav-pills nav-stacked Sidemenu">
    <li role="presentation" ng-class="getClass('/main/Store')"><a ui-sref="main.settingsStore">Store</a></li>
    <li role="presentation" ng-class="getClass('/main/Bank')"><a ui-sref="main.settingsStore">Bank</a></li>
    <li role="presentation" ng-class="getClass('/main/Attribute')"><a ui-sref="main.settingsAttribute">Attribute</a></li>
    <li role="presentation" ng-class="getClass('/main/Category')"><a ui-sref="main.settingsCategory">Category</a></li>
    <li role="presentation" ng-class="getClass('/main/ProductType')"><a ui-sref="main.settingsProducttype">Product Type</a></li>
</ul>
