<div class="user pull-right">
    <div class="item dropdown hidden-xs hidden-sm">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-thumbnail img-responsive">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Howard Starks
            </li>
            <li class="divider"></li>
            <li class="link"><a href="">User Profile</a></li>
            <li class="link"><a href="">Settings</a></li>
            <li class="divider"></li>
            <li class="link">
                <a ng-click="logout()"href="">
                  Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="item dropdown hidden-xs hidden-sm">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o fa-inverse"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Notifications
            </li>
            <li class="divider"></li>
            <li>
                <a href="">Server Down!</a>
            </li>
        </ul>
    </div>
    <div class="item dropdown hidden-xs hidden-sm">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-paint-brush fa-inverse"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Themes
            </li>
            <li class="divider"></li>
            <li ng-repeat="theme in themes">
                <a ng-click="setTheme(theme)" href="">
                    {{theme.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
