<div class="dropdown-with-ivhTreeView ">
    <div class="dropDown " ng-click="onClickShowHideIVHDropdown($event)">
        {{selectedText}}
        <div class="dropDownButton">
            <div class="dropDownButtonIcon"></div>
        </div>
    </div>

    <div class="dropDownContent">
        <!-- INSERTING ivhTreeView : START -->
        <div data-angular-treeview="true" data-tree-id="abc" data-tree-model="ivhModel" data-node-id="id" data-node-label="label" data-node-children="children">
        </div>
        
        <input type="text" value="" ng-model="abc.currentNode.id" ng-change="ss(abc.currentNode.id)"></input>
        <!--     <input type="text" ng-model="myQuery" class="searchBox"> -->
        <!-- <div class="ivhTree" ivh-treeview="ivhModel"
      ivh-treeview-expand-to-depth="10"
      ivh-treeview-filter="myQuery"
      ivh-treeview-use-checkboxes="true"
      ivh-treeview-on-cb-change="changeCallback(ivhNode)">
    </div> -->
        <!-- INSERTING ivhTreeView : END -->
    </div>
</div>
