<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row" ng-init="init()">
    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Supplier</button>
                        <button class="btn btn-success" ng-click="init()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Refresh</button>
                        <button class="btn btn-danger" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <form class="form-inline float-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table ng-table="supplierTable" class="table table-striped table-hover">
                                <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                <tr ng-repeat="row in data" ng-click="edit(var)">
                                    <td class="text-center" data-title="'Supplier'">
                                        {{row.name}}
                                    </td>
                                    <td class="text-center" data-title="'Contact Person'">
                                        {{row.contact_person}}
                                    </td>
                                    <td class="text-center" data-title="'Contact #'">
                                        {{row.contact_number}}
                                    </td>
                                    <td class="text-center" data-title="'Address'">
                                        {{row.address}}
                                    </td>
                                    <td class="text-center">
                                        <!-- <button  class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</button> -->
                                        <button ng-click="toggleModal(var.store_id,var.name, $index);" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-->
                </div>
            </div>
        </div>
    </div>
</div>
