<div ng-controller="attributeCtrl">
    <div class="row">
        <div class="well">
            <form>
                <div class="form-group">
                    <label for="storeName" class="control-label">Description</label>
                    <text-angular ng-model="attrib.model"></text-angular>
                </div>
                <div class="form-group">
                    <label for="brandName"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">Separated link</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->
                </div>
                <div class="form-group">
                    <label for="sizeName">Size</label>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="">32 GB</a></li>
                                <li><a href="">64 GB</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">Separated link</a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->
                </div>
                <label class="radio-inline">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="0" name="inlineRadioOptions" id="inlineRadio1" ng-model="grp1" ng-init="grp1=0"><span class="label label-primary">&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    </div>
                </label>
                <label class="radio-inline">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="1" name="inlineRadioOptions" id="inlineRadio2" ng-model="grp1"><span class="label label-success">&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    </div>
                </label>
                <label class="radio-inline">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="2" name="inlineRadioOptions" id="inlineRadio3" ng-model="grp1"><span class="label label-danger">&nbsp;&nbsp;&nbsp;</span>
                        </label>
                    </div>
                </label>
            </form>
        </div>
    </div>
</div>
