<div ng-controller="priceCTRL">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Sale Percent</th>
                            <th>Sale Price</th>
                            <th>
                                <button type="" class="btn btn-success btn-xs pull-right" data-ng-click="addValue()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ST in itemArray">
                            <td ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                                <select class="form-control" id="" ng-options="option.store_id as option.name for option in stores" ng-model="ST.store_id" required="required" name="name">
                                </select>
                                <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                    This field is required
                                </p>
                            </td>
                            <td ng-class="{
                        'has-error':!theForm.percent.$valid && (!theForm.percent.$pristine || theForm.$submitted),
                        'has-success':theForm.percent.$valid && (!theForm.percent.$pristine || theForm.$submitted)}">

                                <div class="col-xs-6">
                                    <input type="text" class="form-control" data-ng-value="{{ST.sale_percent}}" id="" placeholder="%" ng-model="ST.sale_percent" ng-maxlength="2" ng-pattern="/^\d+$/" required="required" name="percent">
                                    <p class="help-block" ng-show="theForm.percent.$error.required && (!theForm.percent.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="theForm.percent.$error.pattern && (!theForm.percent.$pristine || theForm.$submitted)">
                                        Please enter a number
                                    </p>
                                    <p class="help-block" ng-show="theForm.percent.$error.maxlength && (!theForm.percent.$pristine || theForm.$submitted)">
                                        Please enter 2 digits for sale percent
                                    </p>
                                </div>
                            </td>
                            <td ng-class="{
                        'has-error':!theForm.price.$valid && (!theForm.price.$pristine || theForm.$submitted),
                        'has-success':theForm.price.$valid && (!theForm.price.$pristine || theForm.$submitted)}">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" data-ng-value="{{ST.sale_price}}" id="" placeholder="No." ng-model="ST.sale_price" ng-maxlength="4" ng-pattern="/^\d+$/" required="required" name="price">
                                    <p class="help-block" ng-show="theForm.price.$error.required && (!theForm.price.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                                    <p class="help-block" ng-show="theForm.price.$error.pattern && (!theForm.price.$pristine || theForm.$submitted)">
                                        Please enter a number
                                    </p>
                                    <p class="help-block" ng-show="theForm.price.$error.maxlength && (!theForm.price.$pristine || theForm.$submitted)">
                                        The discount is too big
                                    </p>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" data-ng-click="remove($index)" href=""><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
