<div class="row">
    <div class="well">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="form-group">
                        <input type="hidden" ng-model="prod.p_id">
                        <label for="productName" class="col-sm-3 control-label">Product Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="productName" placeholder="Enter Name" ng-model="prod.item_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Code</label>
                        <div class="col-sm-9">
                            <input type="alphanumeric" class="form-control" id="code" placeholder="Enter Code" ng-model="prod.product_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productType" class="col-sm-3 control-label">Product Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="prod.ptype_id" ng-options="option.ptype_id as option.name for option in ptypes"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productType" class="col-sm-3 control-label">Attribute</label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="prod.att_id" ng-options="att.att_id as att.name for att in attributes"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Brand</label>
                        <div class="col-sm-9">
                            <input type="alphanumeric" class="form-control" id="code" placeholder="Enter Brand" ng-model="prod.brand">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <input type="alphanumeric" class="form-control" id="code" placeholder="Enter Price" ng-model="prod.sell_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="col-sm-3 control-label">Start Date</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="prod.start_date" is-open="datepopup1.opened" ng-required="true" min-date="minDate" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-sm-3 control-label">End Date</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="prod.end_date" is-open="datepopup2.opened" ng-required="true" min-date="minDate" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img ng-src="{{prod.product_variant_imgPath}}" err-src="http://placehold.it/250x250" class="thumbnail" width="250" height="250">
                    <div class="input-group image-preview">
                        <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn"> 
                        <button type="button" class="btn btn-warning image-preview-clear"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                        <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" ng-model="prod.product_variant_imgPath" ngf-max-size="8MB" ngf-select="upload($files)" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
                        </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="storeName" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <text-angular ng-model="prod.item_description"></text-angular>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="prod.is_published" ng-disabled="false"> Publish
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="prod.is_archived" ng-disabled="false"> Archived
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
