<div ng-controller="storeCTRL">
    <div class="row">
        <div class="well">
            <div class="row" role="search-row">
                <div class="col-lg-12 col-md-12">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Status: <span ng-if="applicationStatus == ''">All</span><span ng-if="applicationStatus != ''">{{applicationStatus}}</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="updateStatus('')">All</a></li>
                                    <li><a ng-click="updateStatus('Product\'s Store')">Product's Store</a></li>
                                </ul>&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <form class="form-inline float-right" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" ng-model="search" ng-change="searchStatus()" class="form-control search-form" placeholder="Search">
                                    <span class="input-group-btn">
                                    <button ng-click="searchStore();" class="btn btn-primary" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="30">
                                    <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                </th>
                                <th class="">Name</th>
                                <th class="">Address</th>
                                <th class="">Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in itemArray" for="var{{$index}}">
                                <td>
                                    <input type="checkbox" ng-model="var.selected" ng-change="checkStoresChanges(var)">
                                </td>
                                <td>
                                    <div class="">
                                        <p>{{var.name}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="">
                                        <p>{{var.address}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="">
                                        <p>{{var.owner_name}}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
