<div class="row header">
    <div class="col-xs-12">
        <header-notification></header-notification>
        <div class="meta">
            <div class="page">
                {{module}}
            </div>
        </div>
    </div>
</div>
