<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row" ng-init="init()">
    <div class="row" role="search-row">
        <div class="col-lg-12 col-md-12">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                    <button ui-sref="main.settingsAttributeADD" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New </button>
                    <button ng-click="init()" class="btn btn-success"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh </button>
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <form class="form-inline float-right" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                            <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table ng-table="attribTable" class="table table-striped table-hover">
                        <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                        <tr ng-repeat="attrib in $data" ng-click="edit(attrib)">
                            <td class="text-center" data-title="'Name'">
                                {{attrib.name}}
                            </td>
                            <td class="text-center" data-title="'Label'">
                                {{attrib.label}}
                            </td>
                            <td class="text-center" data-title="'Input Type'">
                                {{attrib.type}}
                            </td>
                            <td class="text-center">
                                <!-- <button  class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</button> -->
                                <a class="btn btn-danger btn-xs pull-right" ng-click="deleteData(attrib.att_id,$index);"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
