<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>

</div>
<div class="col-lg-10 col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="hover-shadow" ui-sref="main.settingsAttribute" type="button" id="back"><span class="glyphicon glyphicon-chevron-left "></span><label></label></a>
            <h4>Attribute Properties</h4>
            <hr/>
            <div class="col-xs-6">


                <form class="form-horizontal" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" id="myform" method="get" name="theForm">
                    <!-- <pre>{{theForm.name | json}}</pre> -->
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                        <input type="hidden" ng-model="attrib.fields.att_id">
                        <label for="attribName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.fields.name" type="text" class="form-control" id="attribName" placeholder="" required="required" name="name">
                            <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                        </div>
                       <!--  <pre>Valid? {{theForm.name.$valid}}</pre>
                        <pre>Pristine? {{theForm.name.$pristine}}</pre>
                        <pre>Submitted? {{theForm.$submitted}}</pre>
                        <pre>Required? {{theForm.name.$error}}</pre> -->
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted),
                        'has-success':theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted)}">
                        <label for="label" class="col-sm-2 control-label">Label</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.fields.label" type="text" class="form-control" id="label" placeholder="" required="required" name="label">
                            <p class="help-block" ng-show="theForm.label.$error.required && (!theForm.label.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                        </div>
                    </div>
                    <!-- <pre>Attrib.type Value? {{attrib.label}}</pre> -->
                    <!-- <div class="form-group">
                        <label for="productType" class="col-sm-2 control-label">Product Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-repeat="var in productType" name="singleSelect" ng-model="attrib.productType">
    
                                <option value="Dropdownlist">{{var.name}}</option>
                                
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.productType.$valid && (!theForm.productType.$pristine || theForm.$submitted),
                        'has-success':theForm.productType.$valid && (!theForm.productType.$pristine || theForm.$submitted)}">
                        <label class="col-sm-2 control-label">Product Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="productType" ng-model="attrib.fields.productType_id" required="required">
                            
                                <!-- <option ng-repeat="var in productType" value="{{var.ptype_id}}">{{var.name}}</option> -->
                                <option ng-repeat="var in productType" value="{{var.ptype_id}}" ng-selected="attrib.fields.pname == var.name">{{var.name}}</option>
                                
                            </select>
                            <p class="help-block" ng-show="theForm.productType.$error.required && (!theForm.productType.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                        'has-error':!theForm.inputType.$valid && (!theForm.inputType.$pristine || theForm.$submitted),
                        'has-success':theForm.inputType.$valid && (!theForm.inputType.$pristine || theForm.$submitted)}">
                        <label for="inputType" class="col-sm-2 control-label">Input Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="inputType" required="required" ng-model="attrib.fields.type">
                                <!-- <option value="Textbox">Textbox</option> -->
                                <!-- <option value="Textarea">Textarea</option> -->
                                <option value="Dropdownlist">Dropdownlist</option>
                                <!-- <option value="Checkbox">Checkbox</option> -->
                                <!-- <option value="Rich Textbox">Rich Textbox</option> -->
                                <option value="Multiselect">Multiselect</option>
                                <!-- <option value="Numeric Textbox">Numeric Textbox</option> -->
                                <!-- <option value="QRCode Textbox">QRCode Textbox</option> -->
                                <option value="Attachment">Attachment</option>
                                <option value="Color Picker">Color Picker</option>
                            </select>
                            <p class="help-block" ng-show="theForm.inputType.$error.required && (!theForm.inputType.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                        </div>
                    </div>
                    <!-- <pre>Attrib.type Value? {{attrib.type}}</pre> -->
                    <!-- <div class="form-group">
                        <label for="defValue" class="col-sm-2 control-label">Default Value</label>
                        <div class="col-sm-10">
                            <input ng-model="attrib.default_value" type="text" class="form-control" id="defValue" placeholder="" name="required" validator="required" valid-method="blur">
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="variant-checkbox col-xs-6">
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.fields.is_visible" type="checkbox" value="" ng-checked="attrib.fields.is_visible"> Visible
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.fields.is_required" type="checkbox" value="" ng-checked="attrib.fields.is_required"> Required
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.fields.is_variation" type="checkbox" value="" ng-checked="attrib.fields.is_variation"> Variant
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.fields.is_custumizable" type="checkbox" value="" ng-checked="attrib.fields.is_custumizable"> Costumizable
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.fields.is_unique" type="checkbox" value="" ng-checked="attrib.fields.is_unique"> Unique
                    </label>
                </div>
                <div class="row pull-right" ng-show="attrib.fields.type == 'Dropdownlist' || attrib.fields.type == 'Multiselect'">                    <div class="col-md-4 adding-link">
                        <a ng-click="addValue()" href="">
                            <button type="submit" class="btn btn-primary">Add Value</button>
                        </a>
                    </div>
                </div>
                <div class="row pull-right" ng-show="attrib.fields.type == 'Color Picker'">                    
                                    <div class="col-md-4 adding-link">
                        <a ng-click="addColor()" href="">
                            <button type="submit" class="btn btn-primary">Add Colors</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="attrib.fields.type == 'Dropdownlist' || attrib.fields.type == 'Multiselect'">
            <hr class="thin-hr">
            <h4><b>Value</b></h4>
            <div ng-repeat="attValue in attrib.Attvalue" style="margin-top: 10px;">
                <form class="form-inline">
                    <div class="form-group inline-margin">
                        <label for="val-value">Value</label>
                        <input ng-model="attValue.value" type="text" class="form-control" id="val-value" placeholder="">
                    </div>
                    <div class="form-group inline-margin">
                        <label for="val-label">Label</label>
                        <input ng-model="attValue.sku" type="text" class="form-control" id="val-label" placeholder="">
                    </div>
                    <div class="form-group inline-margin">
                        <div ng-repeat="step in stepsModel" class="thumbnail col-xs-4" style="height: 90px; width: 90px; margin-top:20px;">
                            <img style="height: 79px; width: 88px;" data-ng-if="step != null" ng-src="{{step}}" alt="...">
                        </div>
                        <div class="fileUpload btn btn-primary col-xs-5">
                            <center><span>Browse</span></center>
                            <input class="upload" type='file' ng-model="attValue.value_image" ngf-max-size="8MB" ngf-select="upload($files)" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
                        </div>
                        <button class="fileUpload btn btn-danger col-xs-4" ng-click="removethumb()" ng-show="stepsModel[0]!=='img/default.png'">Remove</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container" ng-show="attrib.fields.type == 'Attachment'">
        <div class="col-xs-6">
            <hr class="thin-hr">
            <h4><b>Type</b></h4>
            <div class="variant-checkbox">
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.attachment.is_single" type="checkbox" value="" ng-checked="attrib.attachment.is_single"> Single
                    </label>
                </div>
            </div>
            </div>

            <div class="col-xs-6">
            <!-- <hr class="thin-hr"> -->
            <h4><b>Supported Types</b></h4>
            <div class="variant-checkbox">
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.attachment.attchtype.attachment_Image" type="checkbox" value="" ng-checked="attrib.attachment.attchtype.attachment_Image"> Image
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.attachment.attchtype.attachment_Video" type="checkbox" value="" ng-checked="attrib.attachment.attchtype.attachment_Video"> Video
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.attachment.attchtype.attachment_Audio" type="checkbox" value="" ng-checked="attrib.attachment.attchtype.attachment_Audio"> Audio
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="attrib.attachment.attchtype.attachment_Document" type="checkbox" value="" ng-checked="attrib.attachment.attchtype.attachment_Document"> Document
                    </label>
                </div>
            </div>
            </div>
        </div>

        <div class="container" ng-show="attrib.fields.type == 'Color Picker'">
            <hr class="thin-hr">
            <h4><b>Colors</b></h4>
            <div ng-repeat="attColor in attrib.Attcolor" style="margin-top: 10px;">
                <form class="form-inline" name="colorForm">
                    <div class="form-group inline-margin">
                        <label>Name</label>
                        <input ng-model="attColor.name" type="text" class="form-control" id="val-value" placeholder="">
                    </div>
                    <!-- <pre>Attrib.type Value? {{attValue.colorName}}</pre> -->
                    <div class="form-group inline-margin">
                        <label>Color</label>
                        <input ng-model="attColor.color" type="text" colorpicker="hex" colorpicker-position="right">
                        <!-- <span colorpicker ng-model="your.model" style="background-color: {{your.model}}" class="small button">Change color</span> -->
                    </div>
                    <!-- <pre>Color Name? {{colorForm | json}}</pre> -->
            <!-- <pre>Color Value? {{sampleValue}}</pre> -->
            <!-- <pre>Color data? {{attColor.colorPicker}}</pre> -->
                </form>
            </div>
            
        </div>

        <hr>
        <div class="pull-right">
            <button ng-click="attributesUI()" type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" form="myform" class="btn btn-primary">Save</button>
            <!-- <button ng-click="saveData()" type="button" class="btn btn-primary">Save</button> -->
        </div>
    </div>
</div>
