<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row" ng-init="init()">

    <script type="text/ng-template" id="checkboxheader.html">
        <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
    </script>

    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <button ui-sref="main.settingsAddStore" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New </button>
                        <button ng-click="deleteSelected()" class="btn btn-danger" ng-disabled="!deleteSomeData"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                        <button ng-click="refresh()" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <form class="form-inline float-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="toSearch" class="form-control search-form" ng-model="search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button ng-click="refresh()"class="btn btn-primary search-btn" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table ng-table="storeTable" class="table table-striped table-hover">
                            <div ng-activity-indicator style="position: absolute;left: 50%;"></div>

                            <tr ng-repeat="var in $data">
                                <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                                    <input type="checkbox" ng-model="var.selected" ng-change="checkDataChanges(var)">
                                </td>
                                <td class="text-center" data-title="'Name'">

                                    {{var.name}}
                                </td>
                                <td class="text-center" data-title="'TIN'">
                                    {{var.tin}}
                                </td>
                                <td class="text-center" data-title="'Owner'">
                                    {{var.owner_name}}
                                </td>
                                <td class="text-center" data-title="'Contact No.'">
                                    {{var.telno}}
                                </td>
                                <td class="text-center" data-title="'Email'">
                                    {{var.email_address}}
                                </td>
                                <td class="text-center">
                                    <button ng-click="edit(var)" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                                    <button ng-click="toggleModal(var.store_id,var.name, $index);" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
