<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Product Type Information</h3>
                <hr/>
                <div class="container">
                    <div class="col-xs-8">
                        <form class="form-horizontal" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                            <input type="hidden" ng-model="ptypeSave.ptype_id">
                            <div class="form-group" ng-class="{
                        'has-error':!theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted),
                        'has-success':theForm.name.$valid && (!theForm.name.$pristine || theForm.$submitted)}">
                                <label for="attribName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <!-- <input type="text" ng-model="ptypeSave.name" name="name" class="form-control" id="ptypeName" required placeholder="" ng-minlength="5" ng-maxlength="20"> -->
                                    <input type="text" ng-model="ptypeSave.name" name="name" class="form-control" id="ptypeName" required placeholder="" required="required" name="name">
                                    <p class="help-block" ng-show="theForm.name.$error.required && (!theForm.name.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                                    <!-- 
                                <pre>Form Error? {{theForm.percent.$error | json}}</pre>
                                <pre>Form Pattern? {{theForm.percent.$error.pattern}}</pre> -->
                                    <!-- <div ng-messages="ProdType.name.$error" role="alert">
                                        this required message has overridden the template message
                                        <div ng-message="required">Please input name</div>
                                        this is a brand new message and will appear last in the prioritization
                                        <p ng-message="minlength">Your name is too short.</p>
                                        <p ng-message="maxlength">Your name is too long.</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group" ng-class="{
                        'has-error':!theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted),
                        'has-success':theForm.label.$valid && (!theForm.label.$pristine || theForm.$submitted)}">
                                <label for="label" class="col-sm-2 control-label">Label</label>
                                <div class="col-sm-10">
                                    <!-- <input type="text" ng-model="ptypeSave.label" required name="label" class="form-control" id="label" placeholder="" ng-minlength="5" ng-maxlength="20"> -->
                                    <input type="text" ng-model="ptypeSave.label" required name="label" class="form-control" id="label" placeholder="" required="required" name="label">
                                    <p class="help-block" ng-show="theForm.label.$error.required && (!theForm.label.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                                    <!-- <div ng-messages="ProdType.label.$error" role="alert">
                                        this required message has overridden the template message
                                        <div ng-message="required">Don't forget the label</div>
                                        this is a brand new message and will appear last in the prioritization
                                        <p ng-message="minlength">Your label is too short.</p>
                                        <p ng-message="maxlength">Your label is too long.</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group" ng-class="{
                        'has-error':!theForm.description.$valid && (!theForm.description.$pristine || theForm.$submitted),
                        'has-success':theForm.description.$valid && (!theForm.description.$pristine || theForm.$submitted)}">
                                <label for="code" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="ptypeSave.description" class="form-control" rows="3" id="description" required="required" name="description"></textarea>
                                    <p class="help-block" ng-show="theForm.description.$error.required && (!theForm.description.$pristine || theForm.$submitted)">
                                        This field is required
                                    </p>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button ui-sref="main.settingsProducttype" type="submit" class="btn btn-default">Cancel</button>
                                <button ng-click="acsaveProdType();" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                    <div class="variant-checkbox col-xs-4">
                        <div class="col-xs-8 col-md-6">
                            <a class="thumbnail">
                                <img ng-show="myForm.file.$valid" ngf-thumbnail="ptypeSave.ptype_image" err-src="http://placehold.it/400x300">
                            </a>
                            <center>
                                <div class="fileUpload btn btn-primary">
                                    <span>Browse</span>
                                    <input type="file" class="upload" ngf-select ng-model="ptypeSave.ptype_image" name="file" accept="image/*" ngf-max-size="8MB" required ngf-model-invalid="errorFiles">
                                </div>

                                <pre>image? {{ptypeSave.ptype_image}}</pre>
                                <button class="fileUpload btn btn-danger" ng-click="removethumb()" ng-show="ptypeSave.ptype_image!=='img/default.png'">Remove</button>
                            </center>
                            <br>
                            <span class="progress" ng-show="ptypeSave.ptype_image.progress >= 0">
                                <div style="width:{{ptypeSave.ptype_image.progress}}%" ng-bind="ptypeSave.ptype_image.progress + '%'"></div>
                            </span>
                            <span ng-show="ptypeSave.ptype_image.result">Upload Successful</span>
                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- <div class="pull-right">
                    <button ui-sref="main.settingsProducttype" type="submit" class="btn btn-default">Cancel</button>
                    <button ng-disabled="ProdType.label.$invalid || ProdType.name.$invalid" ng-click="acsaveProdType();" type="submit" class="btn btn-primary">Save</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
