<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="row" role="search-row">
        <div class="col-lg-12 col-md-12">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                    <button ui-sref="main.settingsAddProducttype" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <form class="form-inline float-right" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                            <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table ng-table="ptypeTable" class="table table-striped table-hover">
                        <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                        <tr ng-repeat="var in data" ng-click="edit(var)">
                            <td class="text-center" data-title="'Name'">
                                {{var.name}}
                            </td>
                            <td class="text-center" data-title="'Label'">
                                {{var.label}}
                            </td>
                            <td class="text-center" data-title="'Description'">
                                {{var.description}}
                            </td>
                            <td class="text-center">
                                <!-- <button  class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i> Edit</button> -->
                                <button ng-click="toggleModal(var.ptype_id,var.name, $index);" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                    </table>
                    <modal title="POS 17" visible="showModal">
                        <form role="form">
                            <span>Are you sure you want to delete the Product Type: {{todelete.TDname}}?</span>
                            <div class="col-md-1 pull-right">
                                <button ng-click="close()" type="button" class="btn btn-warning pull-right" style="margin-top:-8px;" title="No">No</button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <button type="button" class="btn btn-danger pull-right" title="Delete" style="margin-top:-8px;" ng-click="removePType();">Yes</button>
                            </div>
                        </form>
                    </modal>
                </div>
            </div>
        </div>
    </div>
</div>
