<!-- <div>
	<span ng-repeat="step in steps limitTo:(steps.length-1) ">
		<a href="{{step.ncyBreadcrumbLink}}" ng-bind-html="step.ncyBreadcrumbLabel"></a>
	</span>
	<span ng-repeat="step in steps limitTo:-1" class="active">
		<span ng-bind-html="step.ncyBreadcrumbLabel"></span>
	</span>
</div>
 -->

 <div><span ng-repeat="step in steps"> / {{step.ncyBreadcrumbLabel}} </span></div>