<div data-ng-controller="headerCTRL">
    <center>
        <ul class="nav nav-pills nav-stacked" id="Sidemenu">
            <li role="presentation" ng-class="getClass('/main/addproduct')">
                <a ui-sref="main.addproduct">Product Detail</a>
            </li>
            <li role="presentation" ng-class="getClass('/main/association')">
                <a ui-sref="main.association">Associations</a>
            </li>
        </ul>
    </center>
</div>
