<div class="row">
    <div class="col-lg-12">
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row" role="search-row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="form-group">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Product</button>
                        <button type="button" ng-click="publish()" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Publish</button>
                        <button type="button" ng-click="unpublish()" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Unpublish</button>
                        <button type="button" ng-if="$root.notSelect == '1' " ng-click="archived()" class="btn btn-danger"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Archive</button>
                        <button type="button" ng-if="$root.notSelect == '0' " ng-click="archived()" class="btn btn-danger"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Archive</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <form class="form-inline float-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="toSearch" class="form-control search-form" placeholder="Search">
                                <span class="input-group-btn">
                                    <button ng-click="search();"class="btn btn-primary search-btn" data-target="#search-form" name="q">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th width="30">
                                            <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                        </th>
                                        <th>Order #</th>
                                        <th>Order Date</th>
                                        <th>Order Time</th>
                                        <th>Amount (USD)</th>
                                        <th class="text-center" width="15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div ng-activity-indicator style="position: absolute;left: 50%;"></div>
                                    <tr ng-repeat="row in data| startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                                        <td>
                                            <input type="checkbox" ng-model="var.selected">
                                        </td>
                                        <td>{{row.order_no}}</td>
                                        <td>{{row.order_data}}</td>
                                        <td>{{row.order_time}}</td>
                                        <td>{{row.amount}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                            <a class="btn btn-danger btn-xs" href=""><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <nav class="pull-right">
                                    <ul class="pagination">
                                        <li><a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo;</a></li>
                                        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                            <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                        </li>
                                        <li><a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">&raquo;</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-->
                </div>
            </div>
        </div>
    </div>
</div>
